<%= form_with model: @team do |f| %>

  <%= f.label             "Name: " %>
  <%= f.text_field        :name, :class => "text_field"%>



      <% if @team.image.exists? %>
        <%= image_tag @team.image.url(:thumb) %>
      <% end %>

    <%= f.label :image, "Attach Team Logo" %><br/>

      <%= f.file_field :image, :class => "attach_img"%>


  <br/><br/><br/>
  <div class="form_container">
    <%= f.submit "Submit", :class => "myButton" %>
  </div>

<% end %>