
<div class="form_container">
  <h1>Update Roster</h1>

<%= form_with model: @team, html: {multipart: true} do |f| %>

    <%= f.label             "Name: " %>
    <%= f.text_field        :name, :class => "text_field"%>


  <div>
    <% if @team.image.exists? %>
      <%= image_tag @team.image.url(:thumb) %>
    <% end %>
  </div>
  <%= f.label :image, "Attach Team Logo" %><br/>
  <div class="attach_img">
    <%= f.file_field :image %>
  </div>
</div>


<div class="form_container">
  <%= f.submit "Submit", :class => "myButton" %>
</div>
<% end %>

<br/><br/><br/>
<div class="form_container">
  <div class="team_players_form">

    <% @team.players.order(:position).each do |player| %>


      <div class="player_update">
        <%= render partial: 'players/player_update', locals: {player: player}%>
      </div>
      <%= link_to player_path(player), method: :delete do %> 
        <div class="delete" %>X</div><br/>
      <% end %>
        
      


    <% end %>

  </div>
  <div>
    <%= link_to "Add Player", create_standin_teams_path(@team) %>
  </div>
</div>


<br/><br/><br/>




</div>