<%= form_with model: @event,  local: true do |f| %>
  <div class="errors_container">
    <% if @event.errors.any? %>
      <% @event.errors.full_messages.each do |error| %>
        <div class="error"><%= error %></div>
      <% end %>
    <% end %>
  </div>

  <p>
    <%= f.label             :title %> <br/>
    <%= f.text_field        :title, :class => 'text_field' %>
  </p>

  <p>
    <%= f.label             :description %> <br/>
    <%= f.text_area         :description, :class => 'text_area'%>
  </p>


  <% if @event.image.exists? %>
    <div class="edit_image">
      <%= image_tag @event.image.url %>
    </div><br/>
  <% end %>

  <div class="attach_img">    
    <%= f.label :image, "Attach Event Logo"%> | 
    <%= f.file_field :image %>
  </div>
  <br/><br/>

  <div class="form_date" >
    <div class="form_date_start">
        Start Date: <br/>
        <%= f.date_field :date_start, :class => 'text_area_time' %>
    </div>
    <div class="form_date_end">
        End Date: <br/>
        <%= f.date_field :date_end, :class => 'text_area_time' %>
    </div>
  </div>
  <div>
    <%= f.submit "Register Event", :class => 'myButton'%>
  </div>
<% end %>


