<%= form_with model: @match do |f| %>
  <div class="form_match">
    <div class="form_team">
      <div class="form_event">
        <div class="f_c1">Event:</div>
        <div class = "f_c2">
          <%= f.collection_select :event_id, 
                        Event.order(:title),
                        :id,
                        :title, 
                        {:prompt => "Select Event"},
                        :class => "f_selection" %>
        </div>
      </div>
      <div class="form_radiant">
        <div class = "f_c1">Radiant:</div>
        <div class = "f_c2">
          <%= f.collection_select :radiant_id, 
                        Team.order(:name),
                        :id,
                        :name, 
                        {:prompt => "Select Dire Team"},
                        :class => "f_selection" %>
        </div>
      </div>
      <div class="form_dire">
        <div class = "f_c1">Dire:</div>
        <div class = "f_c2"> 
          <%= f.collection_select :dire_id, 
                        Team.order(:name),
                        :id,
                        :name, 
                        {:prompt => "Select Dire Team"},
                        :class => "f_selection" %>
        </div>
      </div>
    </div>
  </div>

  <h2>Date Start</h2>
    <%= f.date_field :date_start %>
    <%= f.time_select :time_start, {
                      minute_step: 15,
                      :hour => 'hour', 
                      :minute => 'minute',
                      :ampm => true} %>
  <br/><p><br/>
    <%= f.submit "Create Match", :class => "myButton" %>
  </p>
<% end %>
